html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #3a4a64;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
