html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: var(--dark) !important
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 200;
}
