@import "normalize.css";
@import "base/_variables";
@import "modules/_btn";
@import "modules/_container";
@import "modules/_large-hero";
@import "modules/_rounded";

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.fill-primary {
  fill: var(--primary);
}

p {
  font-weight: 200;
}

/* @import 'base/_mixins';
@import 'base/_global';
@import 'modules/_large-hero';
@import 'modules/_wrapper';
@import 'modules/_btn';
@import 'modules/_btn-group';
@import 'modules/_page-section';
@import 'modules/_headline';
@import 'modules/_generic-content-container';
@import 'modules/_row';
@import 'modules/_site-header';
@import 'modules/_primary-nav';
@import 'modules/_site-footer';
@import 'modules/_dropdown'; */
