.btn {
  border-radius: 20px;
}

.btn-primary {
  &:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
}

.btn-secondary {
  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}
