.mt-n2 {
  margin-top: 0px;

  @mixin atMedium {
    margin-top: -25px;
  }

  &--n-mobile {
    margin-top: -25px;
  }
}

.mt-n5 {
  margin-top: 0px;

  @mixin atMedium {
    margin-top: -50px;
  }

  &--n-mobile {
    margin-top: -25px;
  }
}



